<%= form_for @user, url: password_reset_path(params[:id]) do |form| %>

  <div class="pb-6 rounded-md min-h-full flex items-center justify-center bg-powder_blue py-4 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <%= image_tag 'reset-icon.jpg', alt: "Reset Icon", :class => "mx-auto h-12 w-auto mt-6"  %>
        <h2 class="text-center text-2xl font-extrabold text-gray-900">
          Enter a new password!
        </h2>
      </div>
        <div class="mt-8 my-6">
        <input type="hidden" name="remember" value="true">
        <div class="rounded-md shadow-sm -space-y-px mb-2" id="login-inputs">
          <div class="field">
            <%= form.label :password %>
            <%= form.password_field :password, placeholder: "Super Secret Password", :class => "appearance-none rounded-none relative block w-full px-3 py-2 border border-navy placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-navy focus:border-navy focus:z-10 sm:text-sm"%>
          </div>
          <div class="field">
            <%= form.label :password_confirmation %>
            <%= form.password_field :password_confirmation, placeholder: "Super Secret Password", :class => "appearance-none rounded-none relative block w-full px-3 py-2 border border-navy placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-navy focus:border-navy focus:z-10 sm:text-sm"%>
          </div>
        </div>
        
      <div class="flex items-center justify-between">
        <div class="text-sm">
          <%= link_to 'Forgot Your Password?', new_password_reset_path, :class => "font-medium text-black hover:text-navy" %>
        </div>
      </div>

        <div>
          <div class="actions mt-2">
            </span>
            <%= form.submit "Update Password", id: "login-btn", :class => " mb-6 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-orange hover:bg-turqoise focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-navy"%>
          </div>
        </div>
        </div>
      </form>
    </div>
  </div>
<% end %>

<%= javascript_pack_tag("login_validation") %>