<nav class="bg-navy">
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="">
      <div class="flex items-center justify-between h-16 px-4 sm:px-0">
        <div class="flex float-right items-center">
          <div class="md:block">
            <div class="flex items-baseline space-x-4">
              <%= link_to "About", about_path, class: "bg-cyan-700 text-white hover:text-turqoise px-3 py-2 rounded-md text-lg font-medium" %>

              <%= link_to "Download", download_path, class: "text-white hover:text-turqoise px-3 py-2 rounded-md text-lg font-medium" %>

              <%= link_to "My Files", documents_dashboard_path, class: "text-white hover:text-turqoise px-3 py-2 rounded-md text-lg font-medium" %>

            </div>
          </div>
        </div>
        <div class="md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <div class="ml-3 relative">
              <% if session[:user_id] == nil then %>
                <%= link_to "Login", login_path, class: "text-white hover:text-turqoise px-3 py-2 rounded-md text-lg font-medium" %>
              <% else %>
                <%= link_to "Logout", logout_path, method: :delete, class: "text-white hover:text-turqoise px-3 py-2 rounded-md text-lg font-medium" %>
              <% end %>
              <% if session[:user_id] == nil then %>
                <%= link_to "Signup", get_signup_path, class: "text-white hover:text-turqoise px-3 py-2 rounded-md text-lg font-medium" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
