<h1>
<<<<<<< HEAD
  <%= "#{@sender.first_name} #{@sender.last_name} has sent you a file: #{@document.name}!" %>
=======
  <%= "#{sender.first_name} #{sender.last_name} has sent you a file: #{document.name}!" %>
>>>>>>> 101132faa9f604c40737ac810f9981f06aace65d
</h1>
<% if @message != "" %>
  <h2>
    Message:
  </h2>
  <p>
    <%= @message %>
  </p>
<% end %>
<p> Link: </p>
<%= link_to "Download the file", "https://cloud-beam.com/?id=#{@download_code}" %>
<p> Code: </p>
<p> <%= @download_code %> </p>
