<h1>Upload</h1>
<%= form_with url: "/upload", model: @document, method: "POST", local: true do |form| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this user from being saved:</h2>

<<<<<<< HEAD
      <ul>
        <% @document.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.label :url, "Enter your mock file url:" %>
  <%= form.text_field :url %>
  <%= form.label :name, "Enter file name:" %>
  <%= form.text_field :name %>
  
  <br>
  <br>
  <input type="file">
  <br>
  <br>
  <%= form.submit "Submit" %>
<% end %>
=======
<%= render 'form', document: @document %>

<%= link_to 'Back', documents_path %>
>>>>>>> dynamic-branch
