<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Uploaded at:</strong>
  <%= @document.uploaded_at %>
</p>

<p>
  <strong>Expired at:</strong>
  <%= @document.expired_at %>
</p>

<p>
  <strong>Url:</strong>
  <%= @document.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @document.user_id %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
