<!DOCTYPE html>
<html>
  <head>
    <title>Cloudbeam</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
  </head>

  <body>
    <div>
      <div class="bg-navy pb-32">
        <%= render 'shared/header' %>
        <%= render 'shared/nav' %>
      </div>

      <main class="-mt-32">
        <div class="max-w-7xl mx-auto pb-12 px-4 sm:px-6 lg:px-8">
          <div class="bg-white rounded-lg shadow px-5 py-6 sm:px-6">
            <% if notice then %>
              <p class="text-red-600"><%= notice %></p>
            <% end %>
            <div class="rounded-lg min-h-96">
              <%= yield %>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
